* {
   padding: 0;
   margin: 0;
}
html, body {
   width:100%;
   height:100%;
}
canvas {
   display: block;
}

.item {
  img {
    max-width: 100px;
    border-radius: 50%;
    vertical-align: middle;
  }
}
